.header-container{
    height: 80px;
    background-color: #F4EFEA;
    width: 100% !important;
    display: flex;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-header-rounded{
    background-color: white;
    color: black;
}