<div class="header-container">
  <div class="container">
    <div class="logo">
      <img src="assets/logo 1.png" alt="" />
    </div>
    <div class="header-actions d-flex align-items-center">
        <button pButton class="btn-header-rounded p-button-rounded py-1">
            <span class="px-2"><i class="pi pi-phone mx-2 text-warning"></i> 598456033</span>
        </button>
        <app-language-selector class="mx-4" style="width: 99px; height: 35px;"></app-language-selector>
    </div>
  </div>
</div>
