.selected{
    background-color: #F9981B;
    border-radius: 10px;
}
.main-container{
    height: 280px;
    width: 328px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    cursor: pointer;
}
.menu-item-icon{
    height: 99px;
    width: 99px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divider{
    height: 2px;
    background-color: rgba(240,240,240, .5);
    width: 70%;
}