<div class="main-container" style="cursor: pointer;">
  <div class="w-100 d-flex" style="font-size: 1.1rem;">
    <div
      [ngClass]="selectedLanguage === languageOne ? 'selected' : ''"
      class="col-6 text-center justify-content-center p-1"
      (click)="onLanguageOne()"
    >
      <span>{{ languageOne }}</span>
    </div>
    <div
      [ngClass]="selectedLanguage === languageTwo ? 'selected' : ''"
      class="col-6 text-center justify-content-center p-1"
      (click)="onLanguageTwo()"
    >
      <span>{{ languageTwo }}</span>
    </div>
  </div>
</div>
