.img-slider {
  height: 600px;
}
.navbar {
  position: relative;
  padding: 0;
}
.menu {
  position: absolute;
  bottom: -10px;
  left: 100px;
}
.main-container {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}
.custom-card {
  height: 600px;
  margin-top: 120px;
}
.content {
  width: 99%;
  background-color: white;
  text-align: center;
  border-radius: 0 8px 8px 0;
}
.img {
  width: 100%;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: -25px;
}
.caption {
  color: #25508c;
  font-weight: bold;
}
.avatar {
  color: #25508c;
  cursor: pointer;
}
.avatar:hover {
  color: #f9981b;
}
.border {
  border-radius: 10px;
  border: 2px solid #f9981b !important;
}
.img-with-border {
  position: relative;
}
.news {
  margin-top: 250px;
}
.news-items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 98%;
  position: absolute;
  top: -200px;
}
.transpharent{
  height: 100%;
  position: absolute;
  width: 50%;
  background-color: rgba(240,240,240, .8);
  top: 0;
  right: 0;
  border-radius: 0 10px 10px 0;
  backdrop-filter: blur(10px);
}
.partniors{
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex-wrap: nowrap;
  width: 98%;
}
.my-card{
  height: 154px;
  width: 328px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left:30px;
}
.custom-caption{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  padding-bottom: 20px;
} 
.info{
  width: 80%;
  margin-top: 50px;
}
.divider{
  height: 3px;
  background-color: orange;
  width: 100%;
}
.custom-input{
  position: relative;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.custom-input .searchbar input{
  background-color: rgba(240,240,240, .8);
  border: none;
  border-radius: 22px;
  padding: 10px;
  width: 300px;
}
.custom-input .searchbar i{
  position: absolute;
  left: 258px;
  top: 2px;
  color: white;
  border-radius: 50%;
  background-color: #25508c;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;align-items: center;
  justify-content: center;
  cursor: pointer;
}
.custom-button{
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(45,45,45, .2);
  color: white;
}
