.img-slider{
    height: 600px;
}
.navbar{
    position: relative;
    padding: 0;
}
.menu{
    position: absolute;
    bottom:-10px;
    left: 100px;
}
.main-container{
    background-color: #F5F5F5;
}
.custom-card{
    height: 600px;
    background-color: white;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    width: 88%;
    padding: 100px;
    text-align: center  ;
}
.img{
width: 100%;
}
